
/* Style the body */
.body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #212121;
  color: white;
  border-style: solid;
  border-bottom-color: red;
}

p {
  display: inLine,
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.main { 
  margin-left: auto; 
  margin-right: auto;
  width: 300px;
  text-align: center;
  background-color: white;
}

/*
.column {
  float: left;
  width: 50%;
}



.row {
  column-count: 2;
  column-gap: 100px;
}



 Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}
*/

.p1, .p2 {display: inline-flex;}



.what_why {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: red;
  margin-left: auto; 
  margin-right: auto;
  width: 300px;
  text-align: center;
  background-color: white;
  font-size: 25px;
}

.explain{
  text-indent: 15px;
  margin-left: auto; 
  margin-right: auto;
  width: 600px;
  text-align: left;
  background-color: white;
}

.exampleTitle{
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: red;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.examplesTitles {
  font-size: 15px;
}

.ex1, .ex2 {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  margin-left: 425px;
}

.ex3, .ex4 {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  margin-left: 425px;
}

.ex5 {
  margin-left: 690px;
}

.bottom{
  padding: 80px;
  background: #212121;
  color: white;
  border-style: solid;
  border-bottom-color: red;
}

.code{
  margin-left: auto; 
  margin-right: auto;
  text-align: left;
}

